
modules = ["bash", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Servir Projeto"

[[workflows.workflow]]
name = "Servir Projeto"
author = 28571394
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . --address 0.0.0.0"

[[ports]]
localPort = 8080
externalPort = 80
